<footer class="page-footer">
    <div class="container text-center">
        <a id="footer-logo" alt="Back to top" du-smooth-scroll du-scrollspy="home" offset="70" href="#home"> 
            <img ng-src="/public/images/ae-logo-white.png" alt="ae-logo" width="38" height="38" class="flipInX">
        </a>
        <p>&copy; Copyright 2015 Adrian Enriquez</p>

        <nav class="nav-inline">
            <ul>
                <li ng-repeat="item in social">
                    <a href="{{item.url}}" alt="{{item.name}}" target="_blank">{{item.name}}</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>