// Buttons
.btn{
    border-width: 2px;
    border-radius: 0;

    &.btn-primary{
        .transition(all 0.3s ease);
        
        &:hover{
            background-color: @brand-primary;
            border-color: @brand-primary;
        }
    }
}