// modal.less

.modal{
    header{
        h3{
            font-size: @font-size-h4;
            display: inline-block;
            padding: 4px 10px;
            border-top: 2px solid @brand-success;
            border-bottom: 2px solid @brand-success;
        }
        h4{
            font-size: @font-size-h5;
            color: @gray;
        }
    }
    img{
        max-width: 100%;
    }
}