// navbar.less

.navbar{

    .navbar-brand{
        text-transform: uppercase;
        font-weight: 700;
    }

    .navbar-toggle{
        border-radius: 0;
    }

    li a{
        text-transform: uppercase;
        font-weight: 700;
    }
}

#main-nav{
    margin-top: 25px;
    .transition(background-color .3s ease);

    #navbar-logo{
        width: 38px;
        height: 38px;
        display: inline-block;
        margin-top: -11px;
        vertical-align: top;
        margin-right: 10px;
    }
}