// navbar.less

.navbar{
    width: 100%;

    .navbar-toggle{
        border-radius: 0;
    }

    
}

#main-nav{
    margin-bottom: 0;

    &.navbar-static-top{
        position: absolute;
    }

    .navbar-brand{
        text-transform: uppercase;

        &:hover{
            color: #fff;
            #navbar-logo{
                opacity: 1;
            }
        }
        #navbar-logo{
            width: 38px;
            height: 38px;
            display: inline-block;
            margin-top: -9px;
            vertical-align: top;
            margin-right: 10px;
            opacity: 0.8;
        }

    }
    
    li a{
        text-transform: uppercase;
    }

    .navbar-brand,
    li a,
    #navbar-logo{
        .transition(all .2s ease);
    }
}

.nav-inline{
    display: inline-block;
    
    ul{
        padding-left: 0;
        margin-bottom: 0;
    }

    ul li{
        display: inline-block;
        list-style-type: none;

        a{
            color: @gray;
            margin: 8px;

            &:hover,
            &:focus{
                color: #fff;
                text-decoration: none;
                border-bottom: 1px solid @brand-success;
            }
        }

        &:first-child a{
            margin-left: 0;
        }

        &:last-child a{
            margin-right: 0;
        }
    }
}