// typography.less

::selection {
    background: @brand-success;
    color: #fff;
}

::-moz-selection {
    background: @brand-success;
    color: #fff;
}

section{

    header{

        h1{
            display: inline-block;
            font-weight: 500;
            color: @brand-primary;
            font-size: @font-size-h2;
            
        }
    }

    h2{
        font-size: @font-size-h3;
        color: @brand-primary;
    }

    @media (max-width: @screen-xs-max){
        header{
            h1{
                font-size: 30px;
            }
        }
    }
}

.tags{
    padding-left: 0;

    li{
        list-style-type: none;
        text-decoration: none;
        display: inline-block;
        margin-right: 4px;

        &:last-child{
            margin-right: 0;
        }
    }
}

.container-inverted{
    color: #fff;
}

label{
    font-weight: 400;
}

.label{
  display: inline-block;
  margin: 0 2px;
  padding: 3px 7px;
}

.text-success{
    color: @brand-success;
}