// typography.less

.tags{
    padding-left: 0;

    li{
        list-style-type: none;
        text-decoration: none;
        display: inline-block;
        margin-right: 4px;

        &:last-child{
            margin-right: 0;
        }
    }
}