.alert {
	border-radius: 0;
}

.logo {
	width: 40px;
	height: 40px;
}

.nav-container {
	position: absolute;
	display: flex;
	padding-left: 0;
	list-style-type: none;
	height: 70px;

	li {
		align-self: center;
		margin-right: 40px;
	}

	.nav-link {
		color: $gray-600;
		font-family: $nunito-font;

		&.active {
			color: $gray-800;
		}
	}
}

.hero {
	position: relative;
	padding: 15em 0 10em;
	overflow: hidden;

	@include media-breakpoint-up(md) {
		padding: 10em 0 15em;
	}

	&__design-text {
		position: absolute;
		transform: rotate(-90deg);
		font-size: 12em;
		left: -1.7em;
		top: 1.25em;
		font-family: $nunito-font;
		color: $gray-100;
		z-index: -1;
	}

	&__bg-right {
		position: absolute;
		background: url('../svg/hero-bg.svg') no-repeat;
		background-size: cover;
		left: 90%;
		right: 0;
		top: 0;
		bottom: 0;

		@include media-breakpoint-up(md) {
			left: 80%;
		} 

		@include media-breakpoint-up(lg) {
			left: 70%;
		} 
	}

	&__dp {
		width: 487px;
		height: 527px;
		position: absolute;
		right: 50%;
		top: 15%;
		border-radius: 50px;
		transform: scale(0.5);
		display: none;

		@include media-breakpoint-up(xl) {
			transform: scale(1);
			display: block;
		} 
	}
}

// Controls
.btn {
	text-transform: uppercase;

	&-sm {
		padding-top: $input-btn-padding-y-sm + .1;
	}
}
