@import "bower_components/bootstrap/less/bootstrap";
@import "bower_components/font-awesome/less/font-awesome";
@import "variables";

@import "components/grid";
@import "components/navbar";
@import "components/buttons";

@import "sections";

body,
html,
#ng-view{
    height: 100%;
}

// Keyframes


@-moz-keyframes scale-bg {
    0%   {.scale(1)}
    100% {.scale(1.2)}
}

@-webkit-keyframes scale-bg {
    0%   {.scale(1)}
    100% {.scale(1.2)}
}

@keyframes scale-bg {
    0%   {.scale(1)}
    100% {.scale(1.2)}
}

.border-top,
.border-bottom,
.border-left,
.border-right{
    position: fixed;
    background-color: #fff;
    z-index: 1000;
}

.border-top,
.border-bottom{
    height: 20px;
    width: 100%;
}

.border-top{
    top: 0;
}

.border-bottom{
    bottom: 0;
}

.border-left,
.border-right{
    width: 20px;
    height: 100%;
}

.border-left{
    left: 0;
}

.border-right{
    right: 0;
}