section{
    padding: 30px;

    h1{
        text-transform: uppercase;
        display: inline-block;
        padding: 8px 12px;
        font-size: @font-size-h2;
        border-top: 2px solid @brand-success;
        border-bottom: 2px solid @brand-success;
    }
}

#home{
    min-height: 100%;
    background: url('../images/bg/table.jpg') top center no-repeat @gray;
    background-attachment: fixed;
    background-size: cover;

    h1{
        color: #fff;
        border: 0;
    }

    h2{
        background-color: @brand-primary;
        color: #fff;
        padding: 10px 15px;
        display: inline-block;
        font-size: @font-size-h3;
    }

    #home-summary{
        margin-top: 250px;
    }

}

#about{
    background-color: @brand-primary;
    color: @gray;

    img{
        margin: 20px;
    }
}

#works{
    background-color: #fff;

    .work-item{
        position: relative;
        margin-bottom: 30px;

        &:hover .work-details{
            opacity: 1;
            background-color: fadeout(@brand-primary, 20%);
        }

        &:hover .work-thumbnail img{
            .scale(1.1);
        }

        .work-thumbnail{
            overflow: hidden;
        }
        .work-thumbnail img{
            width: 100%;
            vertical-align: middle;
            .transition(all .3s);
            .scale(1);
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }

        .work-details{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            text-align: center;
            color: #fff;
            height: 100%;
            padding: 50px 20px;
            .transition(opacity .3s);

            .btn{
                position: relative;
                z-index: 20;

                &:hover{
                    background-color: @brand-success;
                    border-color: @brand-success;
                }
            }

            &:before{
                content: '';
                border: 2px solid #fff;
                position: absolute;
                z-index: 10;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
            }
        }
    }
}

#experience{
    background-color: @gray;

    .media{
        margin-top: 30px;

        h5{
            margin-top: 0;
            background-color: @brand-primary;
            color: #fff;
            display: inline-block;
            text-transform: uppercase;
            padding: 6px 8px 2px;
            font-size: @font-size-h6;
        }
    }
}

#testimonials{
    background-color: @brand-info;
}

#contact{
    background: url('../images/bg/phone.jpg') center bottom no-repeat @gray;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}