section{
    padding: 30px;

    h1{
    }
}

#home{
    min-height: 100%;
    //background: url('../images/bg/table.jpg') center center no-repeat #333;
    background-color: @brand-success;
    background-size: cover;

    h1{
        color: #fff;
    }

    h2{
        background-color: @brand-primary;
        color: @brand-success;
        padding: 10px 15px;
        display: inline-block;
        font-size: @font-size-h3;
    }

    #home-summary{
        margin-top: 250px;
    }

}
#about{
    background-color: @brand-primary;
    color: #fff;

    img{
        margin: 20px;
    }
}

#works{
    background-color: #fff;
    

    .work-item{
        position: relative;
        margin-bottom: 30px;

        &:hover .work-details{
            opacity: 1;
            background-color: fadeout(@brand-success, 20%);
        }

        &:hover .work-thumbnail img{
            .scale(1.1);
        }

        .work-thumbnail{
            overflow: hidden;
        }
        .work-thumbnail img{
            width: 100%;
            vertical-align: middle;
            .transition(all .3s);
            .scale(1);
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }

        .work-details{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            text-align: center;
            color: #fff;
            height: 100%;
            padding: 50px 20px;
            .transition(opacity .3s);

            &:after{
                content: '';
                border: 2px solid #fff;
                position: absolute;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
            }
        }
    }
}